{% extends 'base.html.twig' %}

{% block title %}Hello SelectZoneController!{% endblock %}

{% block changeContent %}
    <div class="business">
        <h1>Producteur autour de vous</h1>
    </div>
{% endblock %}
